<div class="container">
  <div class="footer">
    <hr style="margin: 30px 0 10px 0;"/>
    <p>
      &copy;2016 - <a href="http://bluemix.net">Powered by IBM Bluemix</a>
    </p>
  </div>
</div>
<link rel="stylesheet" href="/bootstrap/css/style.css"/>
<script src="/bootstrap/js/bootstrap.min.js"></script>