.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			|  2014 - 
			a(href='http://jazzhub.com/') Powered by IBM DevOps Services and Bluemix

link(rel='stylesheet', href='/bootstrap/css/style.css')
script(src='/bootstrap/js/bootstrap.min.js')

block footer