.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://jazzhub.com/') Powered by IBM DevOps Services and Bluemix
			|  2014
			|  Created by
			| a(href='https://www.ibm.com/developerworks/community/profiles/html/profileView.do?key=d696e028-493e-406f-bc13-26c3177aefca&lang=en') JLM

link(rel='stylesheet', href='/bootstrap/css/style.css')
script(src='/bootstrap/js/bootstrap.min.js')

block footer