div.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
	div.container
		div.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/")
				| Homestead Co.
		div.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.active
					a(href="http://homestead-demo-jl.mybluemix.net/") Home
				li
					a(href="http://homestead-demo-jl.mybluemix.net/products") Products
				li
					a(href="http://homestead-demo-jl.mybluemix.net/bikes") Bikes
				li
					a(href="http://homestead-demo-jl.mybluemix.net/contact") Contact Us