<html>
 <head>
    <title>Homestead Co.</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="bootstrap/css/candy-box.css"><style>
    body { padding-top: 60px; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
     <% include header.ejs %>
  <body>
    <div class="container">
      	<h1>Welcome to Homestead</h1>
      	<h3>Leading Retailer of all Things Outdoorsy</h3><img src="/images/homestead-splash.jpg" alt="Responsive image" class="img-responsive"/>
	</div>
  </body>
  <% include footer.ejs %>
</html>