extends layout

block header
	include header-products

block content
	div.container
		h1 Sporting Goods
		table.table
			thead
				tr
					th 
					th Name
					th Price
			tbody
				each item in inventory
					tr
						td
							img(src='images/#{item.attributes.img}', width='140', height='192')
						td
							| #{item.attributes.name}
						td
							| #{item.attributes.price}