extends layout

block content
	div.container
		h1 Homestead Sporting Goods
		table
		each item in inventory
			tr
				td
					| #{item.attributes.name}
				td
					img(src="images/#{item.attributes.img}")