{"Name":"homestead-Demo on dev / jlmarech@ca.ibm.com","ServiceId":"com.ibm.cloudoe.orion.client.deploy","Params":{"Target":{"Url":"https://api.ng.bluemix.net","Org":"jlmarech@ca.ibm.com","Space":"dev"},"Name":"homestead-Demo","Timeout":60},"Url":"http://homestead-Demo-JL.mybluemix.net","ManageUrl":"https://ace.ng.bluemix.net#/resources/appGuid=9338fbda-8f00-49bc-9b88-42ca9cca70fc&orgGuid=c684b9c9-cc87-4e76-8182-ae2fc90f60d0&spaceGuid=888d46be-dd81-43a7-bf5a-192a78295848","Path":"","UrlTitle":"homestead-Demo","Type":"Cloud Foundry"}